
form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.btn {
    position:relative;
    padding:6px 15px;
    left:-60px;
	height:35px;
    border:2px  #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}
.btn:hover  {
    background-color:#6C6C6C;
    color:biru;
    text-decoration:none;
}
.btni{
    position:relative;
    padding:6px 15px;
    left:-60px;
	height:1002px;
    border:2px  #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}
.btni:hover  {
    background-color:#6C6C6C;
    color:#fafafa;
    text-decoration:none;
}



